:root {
  --title-color: #434455;
  --header-color: #2e2f42;
  --header-link: #434455;
  --footer-logo: #4d5ae5;
  --footer-text: #f4f4fd;
  --section-five: #8e8f99;
  --footer-soc: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
img {
  display: block;
}

a {
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.container {
  width: 100%;
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

/* HEADER */

.header {
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
  align-items: center;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  width: 1158px;
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-team {
  display: flex;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--header-color);
  gap: 40px;
}
.header-list:hover {
  color: #404bbf;
}
.header-list:focus {
  color: #404bbf;
}
.header-list::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.header-list {
  color: var(--header-color);
  padding-top: 24px;
  padding-bottom: 24px;
  position: relative;
  color: #404bbf;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-team-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--header-color);
}
.header-address {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  display: flex;
  margin-left: auto;
}
.header-adr-list {
  display: flex;
  gap: 40px;
}
.header-adr:hover {
  color: #404bbf;
}
.header-adr:focus {
  color: #404bbf;
}
.header-adr {
  color: var(--header-link);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav-logo {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  margin-right: 76px;
}
.header-nav-web {
  color: var(--header-color);
}
.header-nav {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #434455;
}

/* MAIN */
/* SECTION-ONE-INDEX */

.section-team {
  font-family: "Roboto", sans-serif;
  background: #2e2f42;
  text-align: center;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.team-container {
}

.section-team-text {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  max-width: 496px;
  height: 120px;
  margin: 0 auto;
}
.section-team-btn {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  border: none;
  display: block;
  margin: 0 auto;
  margin-top: 48px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-team-btn:hover {
  background-color: #404bbf;
}
.section-team-btn:focus {
  background-color: #404bbf;
}

.section-btn {
  margin-bottom: 72px;
  display: flex;
  text-align: center;
  gap: 24px;

  justify-content: center;
}

.section-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--footer-logo);
  background-color: var(--footer-text);
  cursor: pointer;
  min-height: 48px;
  border-radius: 4px;
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
.section-button:hover,
.section-button:focus {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* .section-button:focus {
  color: #ffffff;
  background-color: #404bbf;
  border: 1px solid transparent;
} */

/* SECTION-TWO-INDEX */

.section-about {
  padding-top: 120px;
  padding-bottom: 120px;
}
.section-about-list {
  display: flex;
  gap: 24px;
}
.about-ikon {
  display: flex;
  align-items: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
  justify-content: center;
}

.section-about-name {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.section-item {
  width: calc((100%-72px) / 4);
}
.section-about-text {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.section-people-work {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.question-container {
}
.section-question {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  padding-bottom: 120px;
}
.section-question-text {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.section-question-images {
  display: flex;
  gap: 24px;
  padding: 0;
}
.section-item-images {
  width: calc((100% - 48px) / 3);
}
.people-container {
}

/*  FOUR */

.section-people {
  background-color: #f4f4fd;
  padding-bottom: 120px;
  padding-top: 120px;
}
.section-people-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--header-color);
  text-align: center;
  margin-bottom: 8px;
}
.section-people-work {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--header-link);
  text-align: center;
}
.section-people-ourteam {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--header-color);
  margin-bottom: 72px;
}
.section-people-list {
  display: flex;
  gap: 24px;
}
.section-list {
  background-color: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}
.soc-mer {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.soc-mer-list {
  width: 40px;
  height: 40px;
}
.soc-mer-ikon:hover,
.soc-mer-ikon:focus {
  background-color: #404bbf;
}
.soc-mer-svg {
  fill: var(--footer-text);
}
.soc-mer-ikon {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.container-section-list {
  padding: 32px 0px;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.section-port {
  padding-top: 96px;
  padding-bottom: 120px;
}
.section-foto {
  display: flex;
  text-decoration: none;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.section-lista {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.port-images {
  position: relative;
  overflow: hidden;
  
}
.section-lista:hover,
.section-lista:focus {
  transform: translateY(0%);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 
}
/* .table:hover,
.table:focus {
      transform: translateY(0%);

} */

.port-images:hover,
.port-images:focus {
    transform: translateY(0%);

}
.port-item {
  position:absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--footer-text);
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.container-table {
}
.table {
  width: calc((100% - 48px) / 3);
}
.foto-container {
}
.section-foto-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--header-color);
  margin-bottom: 8px;
}
.container-link {
  border: 1px solid #e7e9fc;
  padding: 32px 16px;
  border-top: none;
}

.section-foto-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--header-link);
}

.section-about-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

/* SECTION-FIVE */

.section-five {
  padding: 120px 0;
}
.section-five-company {
  font-size: 36px;
  line-height: 1.11;
  color: var(--header-color);
  margin-bottom: 72px;
  text-align: center;
}
.section-five-item {
  display: flex;
  gap: 24px;
}
.section-five-list {
  width: calc((100% - 120px) / 6);
  height: 88px;
}
.section-five-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--section-five);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-five-link:hover,
.section-five-link:focus {
  color: #404bbf;
  border-color: #404bbf;
}
.s-f-svg {
  fill: currentColor;
}

/* FOOTER */

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
  display: flex;
}
.footer-container {
  display: flex;
  align-items: baseline;
  /* margin-right: 120px; */
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--footer-logo);
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 16px;
}
.footer-web {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--footer-text);
  max-width: 264px;
  margin-right: 120px;
}
.footer-div {
  margin-right: 120px;
}
.footer-soc-div {
  /* margin-right: 120px; */
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--footer-soc);
  margin-bottom: 16px;
}
.footer-soc {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--footer-soc);
  margin-bottom: 16px;
}
.footer-soc-item {
  display: flex;
  gap: 16px;
}
.footer-soc-mer-list {
  width: 40px;
  height: 40px;
}
.footer-soc-mer {
  width: 100%;
  height: 100%;
  background-color: var(--footer-logo);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-soc-mer:hover,
.footer-soc-mer:focus {
  background-color: #31d0aa;
}
.footer-soc-svg {
  fill: var(--footer-text);
}

/* MODAL */

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

}
.modal-menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1); 
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2); 
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.modal-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1); 
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1); 

}
.modal-button:hover,
.modal-button:focus {
  background-color: #404bbf;
  border: none;
  fill: #ffffff;
}
.modal-svg {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-svg:hover,
.modal-svg:focus {
  fill: #ffffff;
}